html, body {
  margin: 0;
  padding: 50px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#open-modal, #close-modal {
    background-color: royalblue;
    color: white;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
}